*
{
    font-family: Arial, Helvetica, sans-serif;

    --space: 2rem;
    --btnHeight: 4rem;
    --borderRadius: .2rem;
    --boxShadow: 0 0 1rem .1rem rgba(0, 0, 0, .1);
    --color1: rgb(15, 72, 82);
    --color2: rgb(82, 166, 199);
}

body
{
    background-color: var(--color1);
    display: inline-block;
    width: 100%;
    height: 100vh;
    margin: 0;
}

page
{
    display: grid;
    width: 100%;
    height: 100vh;
}

.btn
{
    width: calc(var(--btnHeight) * 5);
    height: var(--btnHeight);
    margin-bottom: var(--space);
    padding: 14px 10px;
    border-radius: 100px;
    font-size: 1.5rem;
    border: 2px solid rgba(82, 166, 199, 0);
    outline: 0;
    color: rgb(82, 166, 199);
    background-color: rgb(240, 240, 240);
}

.btn:active
{
    color: rgb(82, 166, 199);
    border: 2px solid rgba(82, 166, 199, 1);
    box-shadow: 0px 0px 0px 1px rgba(82, 166, 199, 1);
    animation: animation .3s forwards;
}

.wallet
{
    position: absolute;
    top: 85%;
    left: 2%;
    color: rgb(255, 255, 255);
    font-size: 40px;
    display: none;
}

.time
{
    position: absolute;
    top: 40%;
    left: 50%;
}

@keyframes animation
{
    100%
    {
        box-shadow: 0px 0px 50px 20px rgba(199, 239, 255, 0);
    }
}

@media only screen and (max-width: 1200px)
{
    /* Måske ændre root font size */
}

@media only screen and (max-width: 800px)
{
    /* Måske ændre root font size */
}
