#menu
{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}

#menu > h1
{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 5rem;
    color: white;
}

#scoreboard
{
    grid-column: 3 / 4;
    grid-row-start: 2;
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, .2);
    margin: var(--space);
    margin-top: 0;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    height: auto;
}

#scoreboard > table
{
    width: 100%;
}

#scoreboard tr > *:first-child
{
    width: 5rem;
}

#menu .btnContainer
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

#menu .btnContainer *
{
    font-size: 1.5rem;
}

#nameForm
{
    margin: auto;
    margin-top: 0;
    margin-bottom: var(--space);
    width: 100%;
    height: var(--btnHeight);
    display: grid;
    grid-template-columns: auto var(--btnHeight) var(--btnHeight);
}

#nameField
{
    grid-column: 1 / 2;
    height: var(--btnHeight);
    padding: 0;
    border: 0;
    border-radius: var(--borderRadius);
    background-color: rgb(240, 240, 240);
    text-align: center;
    color: var(--color2);
    transition: border-radius .2s ease-in-out;
}

#nameField:focus
{
    border-radius: 100px;
    outline: none;
}

#submitBtn
{
    grid-column: 3 / 4;
    width: var(--btnHeight);
}

#startTraining
{
    margin: auto;
    margin-top: 0;
    margin-bottom: var(--space);
    width: 100%;
    display: none;
}

#startSession
{
    margin: auto;
    margin-top: 0;
    margin-bottom: var(--space);
    width: 100%;
    display: none;
}

#selectDifficulty
{
    margin: auto;
    margin-top: 0;
    margin-bottom: var(--space);
    width: 100%;
    display: none;
    text-align: center;
}

#selectDifficulty > label
{
    color:rgb(240, 240, 240);
    width: 100%;
    line-height: 3rem;
    text-align: center;
    margin: auto;
}

#selectDifficulty > select
{
    width: 100%;
}

@media only screen and (max-width: 1000px)
{
    #menu
    {
        grid-template-columns: 1px 1fr 1fr;
    }

    #menu .btnContainer
    {
        margin: var(--space);
    }
}

@media only screen and (max-width: 800px)
{
    #menu
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 40rem;
    }

    #menu .btnContainer
    {
        grid-column: 1 / 2;
        margin: var(--space);
    }

    #scoreboard
    {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}