#tm
{
    display: none;
    grid-template-rows: auto calc(var(--btnHeight) + 2 * var(--space));
}

#tm .btnContainer
{
    grid-row: 2 / 3;
    display: flex;
}

#tm #startTm
{
    margin: auto;
}

#tm #endTm
{
    margin: auto;
}

#tm #canvasContainer
{
    margin: auto;
    margin-top: var(--space);
    width: 80vh;
    grid-row: 1 / 2;
}

#tm #canvas
{
    width: 100%;
}