#tm
{
    display: none;
}

#tm #startTm{
    top: 80%;
    left: 50%;
    transform: translate(-50%,50%);
}

#tm #canvasContainer
{
    margin: auto;
    margin-top: 10px;
    width: 80vh;
}

#tm #canvas
{
    width: 100%;
}